body {
	margin: 0px;
	padding: 0px;
	background: none repeat scroll 0% 0% rgb(16, 16, 16);
	color: white;
	font: 12px verdana,sans-serif;
	}
#header {
	position: relative;
	left: 10%;
	width: 80%;
	top: 0px;
	height: 10%;
	background: none repeat scroll 0% 0% rgb(68, 40, 45);
}
#content {
	position: relative;
	width: 80%;
	left: 10%;
	top: 10%;
	color: white;
	height: 80%;
	background: none repeat scroll 0% 0% rgb(47, 16, 21);
	}
#left {
	position: relative;
	padding: 10px;
	float: left;
	width: 30%;
	height: 100%;
	top: 10%;
	background: none repeat scroll 0% 0% rgb(136, 162, 168);
	color: blue;
	}
#right {
	position: relative;
	padding: 10px;
	float: right;
	width: 33%;
	height: 100%;
	background: none repeat scroll 0% 0% rgb(136, 162, 168);
	color: blue;
	}
#middle {
	position: relative;
	padding: 10px;
	float: left;
	width: 31.1%;
	height: 100%;
	background: none repeat scroll 0% 0% rgb(100, 140, 140);
	color: blue;
	}
#footer {
	position: fixed;
	float: bottom;
	background: none repeat scroll 0% 0% rgb(68, 40, 45);
	color: rgb(11, 27, 31)
	border-color: rgb(27, 42, 45);
	height: 10%;
	font: verdana;
	font-size: 18px;
	width: 80%;
	left: 10%;
	margin-top:420px
	}



